{% extends "layout.html" %}

{% block content %}

<h2>About My Project </h2>
<h3></h3>
<p>In this project I want to explore the coorelation between political parties and certain aspects of life in the United States. I am using a few databases and 
    python libraries to assist me. </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p>In today's world, opposing political parties are in constant conflict and are always trying to expose the bad side of each other. While the people
    which support each party have different political views, this project will help me find out if/how a political majority affects the lifestyle of
    the people.</p>

<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p>Here are some of the tools I have used in order to complete this project:<p/>
   <p> </p>
   <p> - Python</p>
   <p> - HTML/CSS</p>
   <p>- Pandas (Python Library)</p>
   <p> - Flask</p>
   
    <p>If you would like to see the specification document of my project, click on the button below </p>
    <p><a class="btn btn-default" href="https://docs.google.com/document/d/1PaLmDsq5OYe4QrAiov96DTwYmJBdoLLbqmPlxVK-crg/edit?usp=sharing">Specification Document &raquo;</a></p>


    {% endblock %}
