﻿{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<div class="row">
    <!--gives user option to select a category. Also creates submit button--> 
    <div class="col-md-4">
        <form method="post">
            {{ form1.csrf_token }}
            {{ wtf.form_field(form1.category)}}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>Mass Shootings by Category</h4>
            <!-- prints img for chart -->
            <img src={{ chart }} class="img-thumbnail" alt="not found">
        </div>
    </div>
</div>

<hr />



<hr />

    {% endblock %}